h1
	text-align: center
main
	.links
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center
		gap: var(--gap)
	display: flex
	flex-direction: column
	gap: var(--gap)
	margin: 0 auto
	margin-bottom: var(--gap)
	padding: 0 20px
	justify-content: center
	align-items: center
	max-width: 1200px
	> section
		width: 100%
		margin-bottom: 2rem
	.row
		display: flex
		flex-direction: column
		gap: var(--gap)
		max-width: 1200px
		::ng-deep
			.example-wrapper
				display: grid
				gap: var(--gap)
				grid-template-columns: repeat(auto-fill, 90vw)
				@media screen and (min-width: 768px)
					grid-template-columns: repeat(auto-fill, 50vw)
				.code
					background: #fff
					border: var(--border-radius) solid #fff
					border-radius: var(--border-radius)
					overflow: auto
					&.limited-height
						max-height: 500px
					@media screen and (min-width: 768px)
						grid-column: 1/2
				.example
					display: flex
					align-items: center
					> * 
						flex: 1
					@media screen and (min-width: 768px)
						grid-column: 2/2

footer 
	font-weight: bold
	text-align: center