h1
	text-align: center
main
	display: flex
	flex-direction: column
	gap: 20px
	@media screen and (min-width: 768px)
		flex-direction: row
		height: 90vh
		max-width: 1200px
		margin: 0 auto
	form
		display: flex
		flex-direction: column
		width: 30%
		select
			height: 50%
	lib-ng-poland-map
		flex: 1
