<main>
  <h1>{{ title }}</h1>
  <div class="links">
    <p><a href="https://github.com/wnuczek/ng-poland-map">Source code</a></p>
    <p><a href="https://www.npmjs.com/package/ng-poland-map">NPM package</a></p>
  </div>
  <section>
    <app-display-only class="row"></app-display-only>
  </section>
  <section>
    <app-click-select class="row"></app-click-select>
  </section>
  <section>
    <app-config-options class="row"></app-config-options>
  </section>
</main>
<footer>
  <p>Created by Paweł Wnuk &copy; 2024</p>
</footer>
