<h1>ng-poland-map</h1>
<main>
	<div class="forms-container">
  <form>
    <label for="voivodeships">Highlighted voivodeships:</label>
    <select
      name="voivodeships"
      id="voivodeships"
      multiple
      (change)="onRegionSelectionChange($event)"
    >
      <option
        *ngFor="let voivodeship of voivodeships"
        [value]="voivodeship.voivodeship"
      >
        {{ voivodeship.voivodeship }}
      </option>
    </select>
  </form>
	<form>
    <label for="cities">Highlighted cities:</label>
    <select
      name="cities"
      id="cities"
      multiple
      (change)="onCitySelectionChange($event)"
    >
      <option
        *ngFor="let city of cities"
        [value]="city.labelText"
      >
        {{ city.labelText }}
      </option>
    </select>
  </form>
	</div>
  <lib-ng-poland-map
    [highlightedRegions]="selectedVoivodeships"
    [highlightedCities]="selectedCites"
  ></lib-ng-poland-map>
</main>
